* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.contact-wrap {
  max-width: 2000px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1024px) {
  .contact-wrap {
    max-width: 1024px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
  .contact-wrap {
    max-width: 900px;
  }
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat Regular', sans-serif;
  color: #000000;
}

.button-o {
  border: 2px solid #2D5C88;
  text-transform: uppercase;
  padding: 15px 17px;
  font-size: 14px;
  font-family: 'Montserrat Bold', sans-serif;
  color: #2D5C88;
  background-color: #fff;
}

.button-all {
  padding: 8px;
  color: #000000;
  background-color: #fff;
  border: 1px solid #707070;
  font-size: 10px;
  border-radius: 18px;
  font-family: 'Montserrat Bold', sans-serif;
}

.button-price {
  padding: 10px 41px;
  border-radius: 15px;
}

.button-contact {
  padding: 15px 16px;
}

@media (max-width: 768px) {
  .button-o {
    font-size: 12px;
    padding: 12px 14px;
  }
}

@media (max-width: 376px) {
  .button-all {
    font-size: 8px;
  }
  .button-price {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .button-three {
    font-size: 8px;
    max-width: 198px;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #fff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__location {
  margin-right: -60px;
}

.navbar__mess {
  width: 12px;
  height: 12px;
}

.navbar__mobile {
  margin-right: -120px;
}

.navbar__phone {
  text-decoration: none;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 14px;
  color: #000000;
}

.navbar__work-time {
  display: block;
  text-align: right;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 12px;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 15px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  background-color: #ffffff;
  opacity: 1;
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
}

.menu__link {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Montserrat Bold', sans-serif;
  color: #000000;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid #DFDDDD;
  border-left: 1px solid #DFDDDD;
  height: 60px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #707070;
  margin: 5px 0;
}

.logo {
  margin-left: -100px;
}

.logo__text {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat Bold', sans-serif;
  margin-bottom: 5px;
  text-align: center;
}

.logo__description {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: 'Montserrat Regular', sans-serif;
  color: #000;
  text-align: center;
}

.nav__location {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.nav__loc {
  font-size: 10px;
  width: 110px;
  font-family: 'Montserrat Regular', sans-serif;
  float: right;
  text-align: center;
}

@media (max-width: 1199px) {
  .navbar__phone {
    font-size: 12px;
  }
  .navbar__button {
    font-size: 12px;
    padding: 10px 14px;
  }
}

@media (max-width: 991px) {
  .nav__location, .nav__loc {
    display: none;
  }
  .navbar__mobile {
    margin-left: -200px;
  }
  .logo {
    margin-left: -150px;
  }
}

@media (max-width: 768px) {
  .menu__nav {
    margin-right: 0;
  }
  .logo {
    position: left;
    margin-left: -110px;
  }
  .logo__text {
    font-size: 14px;
  }
  .logo__description {
    font-size: 7px;
  }
  .menu-button {
    width: 50px;
  }
  .menu__line {
    width: 25px;
    margin: 2px 0;
  }
}

@media (max-width: 425px) {
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
  .logo {
    display: none;
  }
  .navbar__mobile {
    display: none;
  }
}

.hero {
  background: #FBFBFE;
  padding-top: 140px;
  padding-bottom: 40px;
}

.hero-arrow {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: -15px;
}

.service-description {
  display: inline-block;
  max-width: 330px;
  margin-top: 80px;
}

.service-text {
  font-size: 14px;
  font-family: 'Montserrat Regular', sans-serif;
}

.service__button {
  display: block;
  margin-top: 40px;
}

.catalog-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.catalog-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 800px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__serv {
  font-size: 20px;
  color: #2D5C88;
  font-family: 'Montserrat Bold', sans-serif;
  padding-bottom: 10px;
}

.catalog-card {
  max-width: 365px;
  position: relative;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.catalog-card:hover .catalog-card__active {
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 359px;
  height: 140px;
  margin-top: 4px;
  margin-left: 5px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.catalog-card:hover .catalog-card__about {
  position: absolute;
  color: #000000;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
  line-height: 1.2;
  font-family: 'Montserrat Bold', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-card:hover .catalog-card__buttons {
  display: none;
}

.catalog-card__img {
  display: block;
}

.catalog-card__buttons {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.catalog-card__about {
  display: none;
}

.catalog-card__end {
  bottom: 10px;
}

@media (max-width: 768px) {
  .service-text, .service__button {
    display: none;
  }
  .service-description {
    margin-top: 0;
  }
  .catalog-wrap {
    display: block;
    text-align: center;
  }
}

@media (max-width: 376px) {
  .catalog-card {
    padding-bottom: 10px;
  }
  .catalog-card__img {
    max-width: 300px;
  }
  .catalog-card__buttons {
    bottom: 30px;
  }
}

@media (max-width: 320px) {
  .catalog-card {
    padding-bottom: 10px;
  }
  .catalog-card__img {
    max-width: 250px;
  }
}

.section-title {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-family: 'Montserrat Regular', sans-serif;
}

.section-undtext {
  font-size: 18px;
  font-family: 'Montserrat Regular', sans-serif;
  text-align: center;
  line-height: 1.3;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 70px;
  margin-right: -70px;
  margin-bottom: 70px;
}

.about-wrap__last {
  margin-right: -40px;
}

.about-wrap__text {
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat Bold', sans-serif;
}

@media (max-width: 425px) {
  .about-wrap {
    display: block;
    margin-right: 0;
  }
  .about-wrap__image {
    width: 100px;
  }
  .about-wrap__text {
    font-size: 12px;
    margin-left: 15px;
  }
  .about-wrap__item {
    padding-bottom: 10px;
  }
  .section-undtext {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .section-undtext {
    font-size: 12px;
  }
}

.price-text {
  margin-bottom: 40px;
}

.flex-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer input, .flex-outer textarea, .flex-outer select {
  width: 100%;
  padding: 6px 0;
  color: #999999;
  border: 1px solid #d9d9d9;
  outline: none;
}

.flex-outer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-two {
  margin-right: 55px;
  margin-bottom: 20px;
}

.flex-four {
  margin-right: 55px;
}

.flex-but {
  max-width: 170px;
  margin: 60px auto;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 2px;
}

.flex-outer li {
  width: 350px;
}

.flex-outer li label {
  padding: 8px;
  padding-left: 0;
  font-family: 'Montserrat Bold', sans-serif;
}

.flex-outer input, .flex-outer textarea {
  border: none;
  border-bottom: 1px solid #707070;
}

@media (max-width: 768px) {
  .section-form {
    margin: 0 30px;
  }
  .flex-outer {
    display: table;
    margin-left: 172px;
  }
  .flex-outer li {
    width: 300px;
  }
}

@media (max-width: 425px) {
  .flex-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
  }
  .flex-outer li {
    width: 200px;
  }
}

@media (max-width: 375px) {
  .price-text {
    font-size: 12px;
  }
  .flex-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
  }
  .flex-outer li {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .price-text {
    font-size: 10px;
  }
  .flex-outer li {
    width: 145px;
  }
}

.contact-wrapper {
  margin-top: 20px;
  margin-left: 20px;
}

.contact-title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.contact-info {
  position: absolute;
  z-index: 2;
  background: #ffffff;
  width: 360px;
  height: 340px;
  top: 1970px;
  left: 360px;
  border: 2px solid #707070;
}

.contact__title {
  font-size: 22px;
  margin-bottom: 40px;
  font-family: 'Montserrat Regular', sans-serif;
}

.contact-loc {
  float: left;
  margin-bottom: 20px;
}

.contact-loc__text {
  float: right;
  margin: 0;
  margin-left: 5px;
  font-size: 14px;
  font-family: 'Montserrat Regular', sans-serif;
}

.contact-phone {
  float: left;
  margin-bottom: 20px;
}

.contact-phone__numb {
  text-decoration: none;
  float: right;
  margin-left: 5px;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 14px;
  color: #000000;
}

.contact-work {
  display: block;
  text-align: left;
  margin-left: 22px;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 12px;
}

.contact-mail {
  float: left;
  margin-bottom: 50px;
}

.contact-mail__text {
  margin-left: 5px;
  text-decoration: none;
  float: right;
  color: #000000;
  font-size: 14px;
}

@media (max-width: 1440px) {
  .contact-info {
    top: 1950px;
    left: 123px;
  }
}

@media (max-width: 1024px) {
  .contact-info {
    top: 2580px;
    width: 298px;
    height: 297px;
    left: 49px;
  }
  .contact__title {
    font-size: 18px;
  }
  .contact-loc__text {
    font-size: 12px;
  }
  .contact-phone__numb {
    font-size: 12px;
  }
  .contact-work {
    font-size: 10px;
  }
  .contact-mail {
    margin-bottom: 30px;
  }
  .contact-mail__text {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .contact-wrapper {
    margin-left: 5px;
  }
  .contact-info {
    top: 2813px;
    width: 279px;
    height: 275px;
    left: 49px;
  }
  .contact__title {
    font-size: 18px;
  }
  .contact-loc__text {
    font-size: 12px;
  }
  .contact-phone__numb {
    font-size: 12px;
  }
  .contact-work {
    font-size: 11px;
  }
  .contact-mail {
    margin-bottom: 20px;
  }
  .contact-mail__text {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .contact-info {
    position: static;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */