.hero
  background: #FBFBFE
  padding-top: 140px
  padding-bottom: 40px
  &-arrow
    display: block
    text-align: center
    margin-top: 60px
    margin-bottom: -15px
    
    
.service     
  &-description
    display: inline-block
    max-width: 330px
    margin-top: 80px
  &-text
    font-size: 14px
    +reg
  &__button
    display: block
    margin-top: 40px
.catalog
  &-wrap
    display: inline-flex
  &-block
    display: inline-flex
    justify-content: space-around
    max-width: 800px
    flex-wrap: wrap
  &__serv
    font-size: 20px
    color: $but
    +bold
    padding-bottom: 10px
  &-card
    max-width: 365px
    position: relative
    &__img
      display: block
    &__buttons
      position: absolute
      bottom: 20px
      left: 10px
    &__end
      bottom: 10px
@media (max-width: 768px)  
  .service 
    &-text, &__button
      display: none
    &-description
      margin-top: 0
  .catalog
    &-wrap
      display: block
      text-align: center
@media (max-width: 376px) 
  .catalog
    &-card
      padding-bottom: 10px
      &__img
        max-width: 300px
      &__buttons
        bottom: 30px
@media (max-width: 320px)  
  .catalog
    &-card
      padding-bottom: 10px
      &__img
        max-width: 250px    

      