.hero
  background: #FBFBFE
  padding-top: 80px
  padding-bottom: 40px
  &-arrow
    display: block
    margin: 60px auto
    transform: rotate(-180deg)
    
.service     
  &-description
    display: inline-block
    max-width: 330px
    margin-top: 80px
  &__button
    display: block
    margin-top: 40px
.catalog
  &-wrap
    display: inline-flex
  &-block
    display: inline-flex
    justify-content: space-around
    max-width: 800px
    flex-wrap: wrap
  &-card
    max-width: 364px
    position: relative
    &__img
      display: block
    &__buttons
      position: absolute
      bottom: 20px
      left: 10px




